a,
a:focus,
a:hover {
    color: #fff
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#sharable-link-container {
    margin: 20px 0;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff
}

body,
html {
    height: 100%;
    background-color: #333
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5)
}

.cover-container {
    max-width: 1280px;
    width: 720px
}

.masthead {
    margin-bottom: 2rem
}

.masthead-brand {
    margin-bottom: 0
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent
}

.nav-masthead .nav-link:focus,
.nav-masthead .nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, .25)
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff
}

@media (min-width:48em) {
    .masthead-brand {
        float: left
    }
    .nav-masthead {
        float: right
    }
}

.cover {
    padding: 0 1.5rem
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700, width: 100%
}

#cover {
    position: relative;
    display: block;
    width: 100%!important;
    max-width: 1280px;
    margin: auto
}

.vidyard-logo {
    max-width: 150px;
}

.vidyard_player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 720px
}

.vidyard_player>span {
    width: 100%!important;
    height: 100%!important;
    margin: 0 auto!important
}

#cover.video-ready {
    height: 0;
    padding: 56.25% 0 0;
}

#cover.video-loading form,
#cover.video-loading h1 {
    display: none;
}

.hide {
    display: none
}